#collect_interface{
	position: fixed;
	left: 25%;
	width: 50%;
	height: 220px;
	padding: 5px 20px;
	background: #fff;
	z-index: 10000;
	overflow-y: scroll;
}
#collect_interface *, #options_interface *{
	color: #222;
	font: sans-serif;
	font-size: 12px;
}
#collect_interface *, #options_interface *{
	text-align: left;
}
#collect_interface.attach_top{
	top: 0;
	border-width: 0 2px 2px;
	border-style: solid;
	border-color: #444;
}
#collect_interface.attach_bottom{
	bottom: 0;
	border-width: 2px 2px 0;
	border-style: solid;
	border-color: #444;
}
#collect_interface h2{
	font-size: 1.25em;
	font-weight: bold;
}
#collect_interface p{
	font-size: 1em;
}
#collect_interface p, #collect_interface h2{
	float: none;
	display: block;
	margin: 2px 0;
}
#control_buttons{
	position: absolute;
	top:0;
	right:0;
}

#collect_interface #control_buttons button{
	font-size: 12px;
	float: none;
	clear: none;
	padding: 2px 5px;
	margin: 0;
	background: #efefef;
	border: 1px solid #444;
	border-right: 0;
	text-align: center;
	box-shadow: none;
	min-width: 0;
	border-radius: 0;
}

#collect_interface button:hover{
	cursor:pointer;
}

#collect_interface.attach_bottom  #control_buttons button{
	border-top: 0;
}

#selector_parts{
	line-height: 2em;
}
#selector_string{
	width: 400px;
}
#collect_interface .toggleable{
	cursor: pointer;
}
#collect_interface .toggleable:hover{
	color: #FF0000;
}

#collect_interface .capture{
	border: 1px solid #777;
	background: #ddd;
	padding: 2px;
	cursor: pointer;
}

#collect_interface .selector_group{
	border: 1px solid #777;
	background: #ddd;
	border-right: 0;
	padding: 2px 0 2px 2px;
	position: relative;
}

#collect_interface .off{
	text-decoration: line-through;
	opacity: 0.4;
}

#collect_interface .group_options{
	background:#efefef;
	padding: 2px;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #777;
	margin-left: 3px;
	cursor: pointer;
}

#collect_interface .group_dropdown{
	position: absolute;
	display: none;
	z-index: 10003;
	background: #fff;
	top: 18px;
	right: 0;
	width: 80px;
	border: 1px solid #777;
}

#collect_interface .group_dropdown p{
	margin: 0;
	text-align: right;
}

#collect_interface .group_dropdown p:hover{
	background: #666;
	color: #efefef;
}

#collect_interface .group_options:hover .group_dropdown{
	display: block;
}

#collect_interface #selector_text *{
	line-height: 2em;
}

/* options modal */
#options_interface{
	display: none;
	position: fixed;
	width: 50%;
	background: #fff;
	border: 2px solid #444;
	top: 25%;
	left: 25%;
	padding: 10px;
	z-index: 10001;
}
/* non-interface css */
.highlight{
	border: 1px solid blue !important;
}
 
.query_check { 
	background: yellow !important; 
	border: 1px solid yellow; 
}