#collect_interface{
	position: fixed;
	left: 25%;
	width: 50%;
	height: 200px;
	padding: 5px 20px;
	background: #fff;
	z-index: 1000;
	overflow-y: scroll;
	font-family: sans-serif;
	font-size: 12px;
}
#collect_interface *{
	color: #222;
}
#collect_interface *, #options_interface *{
	text-align: left;
}
#collect_interface.attach_top{
	top: 0;
	border-width: 0 2px 2px;
	border-style: solid;
	border-color: #444;
}
#collect_interface.attach_bottom{
	bottom: 0;
	border-width: 2px 2px 0;
	border-style: solid;
	border-color: #444;
}
#collect_interface h2{
	font-size: 1.25em;
	font-weight: bold;
}
#collect_interface p{
	font-size: 1em;
}
#collect_interface p, #collect_interface h2{
	float: none;
	display: block;
	margin: 2px 0;
}
#collect_interface button {
	font-size: 12px;
	padding: 2px;
	margin-right: 3px;
}
#selector_parts{
	line-height: 1.75em;
}
#selector_string{
	width: 400px;
}
#collect_interface .toggleable{
	cursor: pointer;
}
#collect_interface .toggleable:hover{
	color: #FF0000;
}
#collect_interface .deltog{
	background:#efefef;
	padding: 2px;
	margin-right: 3px;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #777;
}
#collect_interface .deltog:hover{
	background: #666;
	color: #efefef;
	cursor: pointer;
}

#collect_interface .selector_group{
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #777;
	background: #ddd;
	padding: 2px;
}
#collect_interface .off{
	text-decoration: line-through;
	opacity: 0.4;
}
/* options modal */
#options_interface{
	display: none;
	position: fixed;
	width: 50%;
	background: #fff;
	border: 2px solid #777;
	top: 25%;
	left: 25%;
	padding: 10px;
	z-index: 1000;
}
/* non-interface css */
.highlight{
	border: 1px solid blue !important;
}
 
.query_check { 
	background: yellow !important; 
	border: 1px solid yellow; 
}